/* ==========================================| FONTES |========================================== */

@font-face {
    font-family: museo-sans300;
    src: url('fonts/Museo 300.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: museo-sans900;
    src: url('fonts/Museo 900.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: myriad-pro-bold;
    src: url('fonts/Myriad Pro Bold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: myriad-pro-light;
    src: url('fonts/Myriad Pro Light.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

/* ==========================================| GERAL |========================================== */

*{
    margin: 0;
    padding: 0;
    font-family: myriad-pro-light, sans-serif;
    font-size: 16px;
    color:#4d5858;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    vertical-align:middle;
}

main{
    background: url('../img/BG.jpg') no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 50%;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 10px 10px 5px #000;
    text-align: center;
    padding: 0 2rem 2rem 2rem;
}

.logo{
    width: 15rem;
    height: 10rem;
}

.title{
    font-family: museo-sans900, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #415a78;
}

.erro{
    font-family: myriad-pro-bold,sans-serif;
    font-size: 1.2rem;
    color: red;
}

.btn-mex{
    background-color: #00a8a5;
    color:#fff;
    border-radius: 3rem;
    padding: 0.6rem 3rem;
    /* margin-bottom: 2rem; */
}

.btn:focus, .btn:hover, .form-control:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 168, 165,.3);
    border-color: #00a8a5;
}